@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #fff;
  transition: font-size 0.3s ease;
  background-color: #000;
  z-index: -99;
}
body::after {
  content: "No Note Selected";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: clamp(2rem, 5vw, 4rem);
  opacity: 0.1;
  text-align: center;
}
/* ?? START PAGE */
.start-page {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start-page h1 {
  font-size: 5.5vw;
  margin: 1em 0;
  text-transform: capitalize;
}
.start-page .add-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 1em 2.5em;
  font-size: 1.3rem;
  border: 2px solid #ffffff7c;
  border-radius: 2rem;
  background-color: transparent;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.start-page .add-btn:hover,
.add-note-btn:hover {
  border-color: #fff;
}
/* BODY-SIDEBAR WRAPPER */
.notes-ui {
  display: flex;
}
/* SIDEBAR */
.note-sidebar {
  width: 20%;
  min-width: 200px;
  border-right: 2px solid #ffffff36;
  height: 100vh;
  padding: 1em 0;
  z-index: 99;
}
.add-note {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
}
.add-note-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0.5em 0.8em;
  border: 2px solid #ffffff7c;
  border-radius: 2rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

/* note title in sidebar */
.note {
  position: relative;
}
.note h2 {
  cursor: pointer;
  padding: 0.5em;
  overflow-x: hidden;
  width: auto;
  border: 2px solid transparent;
}
.note h2:hover {
  border: 2px solid #ffffff7c;
}
.delete-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0.5em;
  top: 1em;
  cursor: pointer;
  display: none;
}
.note:hover .delete-icon::before,
.note:hover .delete-icon::after {
  display: block;
}
.delete-icon::before,
.delete-icon::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 80%;
  background-color: #e42e2e;
  border-radius: 2rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.delete-icon::before {
  transform: translateX(-50%) rotate(45deg);
}
.delete-icon::after {
  transform: translateX(-50%) rotate(-45deg);
}
.note:hover .delete-icon {
  display: block;
}
/* BODY */
.note-body {
  width: 100%;
  position: relative;
}

.note-body textarea {
  padding: 2em 1em;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  resize: none;
  border: none;
  background-color: #000;
  z-index: 11;
  color: #fff;
  outline: none;
}
@media (max-width: 425px) {
  .start-page .add-btn {
    font-size: 5vw;
  }
  .note-sidebar {
    min-width: 150px;
  }
  .add-note h1 {
    display: none;
  }
  .add-note-btn {
    width: 80%;
    padding: 1em;
  }
  .note h2 {
    font-size: 1.3rem;
  }
  .note-body textarea {
    font-size: 1rem;
  }
  .delete-icon {
    width: 25px;
    height: 25px;
    top: 0.7em;
  }
}
.github-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 99;
}
